<div class="container">
    <h2>pos faq</h2>

    <form [formGroup]="FAQForm" (ngSubmit)="postFAQ()">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Pregunta</mat-label>
            <textarea matInput placeholder="Question" formControlName="question"></textarea>
            <mat-error *ngIf="FAQForm.get('question')?.hasError('required')"> Este campo es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Ansawer o respuesta</mat-label>
            <textarea matInput placeholder="Answer" formControlName="answar"></textarea>
            <mat-error *ngIf="FAQForm.get('answar')?.hasError('required')"> Este campo es requerido</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Post FAQ</button>
    </form>
</div>